<app-header></app-header>


<mat-tab-group class="my2 mx4">


  <mat-tab label="Books">
    <!-- This allows lazy loading -->
    <ng-template matTabContent>
      <app-book-view></app-book-view>
    </ng-template>
  </mat-tab>


  <mat-tab label="Houses">
    <!-- This allows lazy loading -->
    <ng-template matTabContent>
      <app-house-view></app-house-view>
    </ng-template>
  </mat-tab>


  <mat-tab label="Characters">
    <!-- This allows lazy loading -->
    <ng-template matTabContent>
      <app-character-view></app-character-view>
    </ng-template>
  </mat-tab>


</mat-tab-group>
