<form class="login-form flex flex-column items-center justify-center"
      [formGroup]="loginForm"
      (ngSubmit)="login(loginForm.value)">

  <mat-form-field class="mb4">

    <mat-label for="name">What's your name ?</mat-label>

    <input id="name" name="name" type="text" formControlName="name" matInput [formControlName]="'name'">

    <mat-error *ngIf="loginForm.controls.name.hasError('required')">
      Don't be shy :-)
    </mat-error>

  </mat-form-field>

  <button mat-flat-button color="primary" [disabled]="!loginForm.valid">Login</button>

</form>
